body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  font-size: 16px;
  background: url("./backgroundImage.jpg");
}

header {
  background: #4aaaa5;
  color: #fff;
  width: 100vw;
  height: 5em;
  margin-bottom: 2.5em;
  -webkit-box-shadow: 5px 3px 2.5px #999;
          box-shadow: 5px 3px 2.5px #999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 1em;
}

.search, .forecast {
  padding: .5em;
  -webkit-box-shadow: inset 0px 3px 3px 3px #dcdcdc;
          box-shadow: inset 0px 3px 3px 3px #dcdcdc;
  height: auto;
}

.search {
  border-color: #f0f0f0;
  text-align: center;
  display: table;
  width: 30vw;
  background: #f9f9f9;
}

.search h3 {
  color: #777;
}

.searchBar {
  display: table;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
}

.searchBar button {
  border: .05em solid #000;
  color: #fff;
  background: #4aaaa5;
  border-radius: 0px 35px 35px 0px;
  height: 2.85em;
  width: 5em;
}

.searchBar button:hover {
  opacity: 0.7;
  cursor: pointer;
}

.searchBar input {
  text-align: center;
  height: 1.7em;
  font-size: 16px;
  float: left;
  border: .07em solid #000;
  border-radius: 35px 0px 0px 35px;
  resize: none;
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 1.5em;
  background: #dae2e3;
  border: .05em solid #000;
  margin: .025em;
}

.forecast {
  margin-left: 1.5em;
  width: 70vw;
  background: #fff;
}

h2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#currentCity {
  padding: .5em;
  border: .025em solid #999;
}

.fiveDayDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: .5em;
}

.fiveDay {
  text-align: left;
  background: #6aaaa5;
  color: #fff;
  font-size: 14px;
  width: 10vw;
  padding: .25em;
}

.fiveDayDate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
/*# sourceMappingURL=style.css.map */